* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Header */
header {
  position: fixed;
  top: 0; left: 0; right: 0;
  background: rgb(225, 253, 255);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 100;
}

header .logo {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

header .logo span {
  color: #4396e8;
}

header .navbar a {
  margin-left: 15px;
  color: #555;
  text-decoration: none;
  font-size: 14px;
}

header .navbar a:hover {
  color: #4396e8;
}


section {
  padding: 80px 20px;  
  min-height: auto;   
}

/* Products */
#products {
  text-align: center;
}

#products h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #1a4168;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.product-card {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  width: 180px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.product-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 16px;
  color: #333;
}

.product-card p {
  font-size: 13px;
  color: #666;
}

.product-card:hover {
  transform: translateY(-5px);
}

/* Contact */
#contact {
  
  text-align: center;
}

#contact h2 {
  margin-bottom: 10px;
}
